.StatsList,.Chapters
{
    list-style-type:none;
    width:80%;
}
.StatsList div{
    font-family: "Roboto", sans-serif;
    position:relative;
    padding:1% 0 1% 1%;
    font-size: 15px;
    color:white;
    cursor: not-allowed;
    margin-top:1%;
    width:40%;
    background-color:rgba(71, 63, 175, 0.70);
}
.OK div {
    opacity:1;
    cursor:pointer;
    background-color:rgba(71, 63, 175,1);
}
#LessonsTime 
{
    cursor:pointer;
    opacity:1;
    background-color:rgba(71, 63, 175,1);
}
.Chapters
{
    display:none;
}
